<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        {% for object in object_list %}
            <p>{{ object.pk }} <a href="/genre_detail/{{ object.pk }}"> {{ object }} </a>
                <a href="/genre_update/{{ object.pk }}"><button>Update</button></a>
                <a href="/genre_delete/{{ object.pk }}"><button>Delete</button></a>
        {% endfor %}
        <script src="" async defer></script>
    </body>
</html>