{% extends "base.html" %}

{% block content %}
    <h1 class="mt-5">List of genre</h1>
    {% for genre in object_list %}
        <a href="{% url "catalog:genre_detail" genre.pk %}"><h3>#{{ genre.pk }} {{ genre.title }}</h3></a>
        <a href="{% url "catalog:genre_update" genre.pk %}"><button type="button" class="btn btn-info">Update</button></a></a>
        <a href="{% url "catalog:genre_delete" genre.pk %}"><button type="button" class="btn btn-danger">Delete</button></a>
    {% endfor %}
{% endblock %}