{% extends "base.html" %}

{% block content %}
    <h1 class="mt-5">List of publishing</h1>
    {% for publishing in object_list %}
        <a href="/publishing_detail/{{ publishing.pk }}"><h3>#{{ publishing.pk }} {{ publishing.title }}</h3></a>
        <a href="{% url "publishing_update" publishing.pk %}"><button type="button" class="btn btn-info">Update</button></a></a>
        <a href="{% url "publishing_delete" publishing.pk %}"><button type="button" class="btn btn-danger">Delete</button></a>
    {% endfor %}
{% endblock %}