{% extends "base.html" %}

{% block content %}
    <h1 class="mt-5">List of seria</h1>
    {% for seria in object_list %}
        <a href="{% url "catalog:seria_create" seria.pk %}"><h3>#{{ seria.pk }} {{ seria.title }}</h3></a>
        <a href="{% url "catalog:seria_update" seria.pk %}"><button type="button" class="btn btn-info">Update</button></a></a>
        <a href="{% url "catalog:seria_delete" seria.pk %}"><button type="button" class="btn btn-danger">Delete</button></a>
    {% endfor %}
{% endblock %}