{% extends "base.html" %}

{% block content %}
<h1 class="mt-5">Cart of orders</h1>
    {% if cart %}
    <form action="{% url "orders:evaluate_cart" %}" method="post">
    {% csrf_token %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Books</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Total price</th>
            </tr>
            </thead>
            {% for book in cart.books.all %}
            <tbody>
            <tr>
                <td>{{book.book}}</td>
                <td><input type="number" value="{{book.quantity}}" step="1" class="form-control" name="quantity.{{book.pk}}"></td>
                <td>{{book.price}}</td>
                <td>{{book.total_price}}</td>
            </tr>
            </tbody>
            {% endfor %}
            <tr>
                <td colspan="3"><b>Order price:</td>
                <td>{{cart.order_price}}</td>
            </tr>
        </table>
        <button type="submit" name="action" value="update" class="btn btn-success">Update</button>
        <button type="submit" name="action" value="create" class="btn btn-danger">Create order</button>
    </form>
    {% else %}
    Your cart is empty
    {% endif %}
{% endblock %}