{% extends "base.html" %}

{% block content %}
<h1 class="mt-5">Cart of orders</h1>
    {% if cart %}
    <form action="{% url "orders:evaluate_cart" %}" method="post">
    {% csrf_token %}
        <style>
            /* Chrome, Safari, Edge, Opera */
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
            }
            
            /* Firefox */
            input[type=number] {
            -moz-appearance: textfield;
            width: 50px;
            float: left;
            }

            #plus {
                float: left;
                display: flex;

            }

            #minus {
                float: left;
            }
        </style>
        <table id="table" class="table">
            <thead>
            <tr>
                <th scope="col">Books</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Total price</th>
            </tr>
            </thead>
            {% for book in cart.books.all %}
            <tbody>
            <tr id="{{book.id}}">
                <td>{{book.book}}</td>
                <td>
                    <button id="plus" type="button" onclick="plusNum('{{book.id}}')" class="btn">+</button>
                    <input id="inp{{book.id}}" type="number" value="{{book.quantity}}" step="1" min="1" max = "99" class="form-control" name="quantity.{{book.pk}}">
                    <button id="minus" type="button" onclick="minusNum('{{book.id}}')" class="btn">-</button>
                </td>
                <td id="prc{{book.id}}">{{book.price}}</td>
                <td>{{book.total_price}}</td>
                <td><button type="button" name="action" value="update" onclick="rowDel('{{book.id}}')" class="btn btn-danger">X</button></td>
                <td>{{book.pk}}</td>
            </tr>
            </tbody>
            {% endfor %}
            <tr>
                <td colspan="3"><b>Order price:</td>
                <td>{{cart.order_price}}</td>
            </tr>
        </table>
        <button type="submit" name="action" value="update" class="btn btn-success">Update</button>
        <button type="submit" name="action" value="create" class="btn btn-danger">Create order</button>
    </form>
    {% else %}
    Your cart is empty
    {% endif %}

    <script>
        const config = {
            headers: {"X-CSRFToken": '{{ csrf_token }}'}
        }

        const rowDel = (pk) => {
            axios.delete(`{% url "orders:view_cart"  %}api-book-in-cart/${pk}`, config)
            .then(function(response) {
                document.getElementById(pk).remove();
                location.reload()
            })
        }
        const plusNum = (pk) => {
            document.getElementById("inp"+pk).value = parseInt(document.getElementById("inp"+pk).value) + 1
            const valueInput = document.getElementById("inp"+pk).value
            const valuePrice = document.getElementById("prc"+pk).innerText
            const newData={ quantity: valueInput,
                price: valuePrice
            }
            axios.put(`{% url "orders:view_cart"  %}api-book-in-cart/${pk}/`, newData, config)
            .then(function(response) {
                location.reload()
            })
        }

        const minusNum = (pk) => {
            if (document.getElementById("inp"+pk).value > 0) {
                document.getElementById("inp"+pk).value -= 1
            }
            const valueInput = document.getElementById("inp"+pk).value
            const valuePrice = document.getElementById("prc"+pk).innerText
            const newData={ quantity: valueInput,
                price: valuePrice
            }
            axios.put(`{% url "orders:view_cart"  %}api-book-in-cart/${pk}/`, newData, config)
            .then(function(response) { 
                location.reload()
            })
        }
    </script>
{% endblock %}